/* PAGE SIZE */

html {
  width: 400px;
  height: 720px;
  margin: auto;
  padding-top: 20px;
  background-color: white;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  border-style: solid 2px;
  border-radius: 10px;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* LOGO */
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* LANDING PAGE */

#brand-name {
  font-size: 60px;
  text-align: center;
  color: blueviolet;
}

.statement {
  text-align: center;
}

.get-started {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  background: blueviolet;
  color: white;
}

p {
  text-align: center;
  font-size: 18px;
}

/* TOUR 1 PAGE */
h3 {
  padding-top: 25px;
  text-align: center;
  font-size: 30px;
}

.meeting {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 75%;
}

.next {
  display: block;
  margin: auto;
  padding: auto;
  border-radius: 10px;
  background: blueviolet;
  color: white;
  font-size: 18px;
  border: solid 1px white;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.form-name {
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.resend {
  text-align: center;
}

.resend-button {
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
}

h5 {
  text-align: center;
}

.check-email {
  font-size: 15px;
}
